* {
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.main-container {
    width: 960px;
    margin: 0 auto;
}

.first-part {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}

.left {
    width: 290px;
    float: left;
    padding-top: 20px;
}

.right {
    float: right;
}

.right img {
    width: 630px;
    height: 300px;
}

.read-me {
    float: right;
    color: orange;
    margin-top: 10px;
}

span {
    color: orange;
}

.second-part .left {
    width: 50%;
    float: left;
}

.second-part .right img {
    width: 130px;
    height: 130px;
    margin: 10px;
    float: right;
}

.second-part .right {
    width: 50%;
    text-align: center;
    float: right;
}

.second-part .right>div {
    text-align: center;
}

.second-part .right a {
    color: orange;
    text-decoration: none;
    float: none;
}

hr {
    clear: both;
}

.third-part>.left {
    width: 50%;
    float: left;
}

.third-part>.left .first>h4 {
    width: 50%;
    float: left;
}

.third-part>.left .second {
    clear: both;
}

.third-part>.right {
    width: 50%;
    margin-top: 20px;
    float: right;
}

.first .left {
    width: 50%;
    float: left;
}

.first .left span {
    font-size: 15px;
}

.first .left .rm-div {
    color: orange;
}

.first .right {
    width: 50%;
    float: right;
}

.second .left {
    width: 130px;
    float: left;
}

.second .left img {
    width: 130px;
    height: 130px;
}

.second .right {
    width: 300px;
    float: right;
}

.third-part>.left .second .left {
    width: 35%;
}

.third-part>.left .second .left h5 {
    margin-top: -5px;
}

.third-part>.left .second .left h6 {
    margin-top: -10px;
}

.third-part>.left .second .left p {
    margin-top: -15px;
}

.third-part>.left .second .left a {
    float: left;
    margin-top: -5px;
}

.third-part>.left .second .right ul li {
    width: 100%;
    list-style: none;
    margin-top: 10px;
}

.third-part>.left .second .right ul li a {
    color: orange;
}

.third-part>.left .second .right ul li span {
    color: #333;
    font-size: 15px;
}

h6 span {
    color: orange;
}

footer {
    overflow: hidden;
}